.header {
    background-color: rgba(37, 163, 136, 0.514);
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -10px;
    padding-left: 20px;
    padding-right: 20px;
}

.top {
    display: flex;
    gap: 20px;
}

.bodyhead {
    display: flex;
    flex-direction: column;
}
.topbody {
    display: block;
}