* {
    font-family: sans-serif;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.header {
    background-color: rgba(37, 163, 136, 0.514);
    margin: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.top {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.tophead {
  justify-content: center;
  cursor: pointer;
  
}
.coolbutton {
    max-width: 25%;
    padding: 2%;
    border-radius: 25px;
    border: 2px solid aquamarine;
    cursor: pointer;
    background-color: aquamarine;
    width: 15%;
    border: 1px solid black;
}

.bodyhead {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    text-wrap: wrap;
    margin-left: 30%;
    padding-bottom: 15px;
    padding: 15px;
    justify-content: space-around;
}
.img {
    border: 2px solid black;
    width: 25%;
    height: auto;
    margin-right: -20%;
}

h4 {
    inline-size: 44%;
    color: grey;
    font-weight: 200;
}

#domdom {
    font-weight: bold;
    font-size:xx-large;
}

.topbody {
    background-color:blanchedalmond;
    display: inline-flex;
    padding: 2%;
    padding-right: 34%;
}

.sec2 {
    background-color: red;
    padding: 20px;
}

.losimages {
    display: flex;
    justify-content: center;
}

.jjj {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 25px;
    border: 5px solid black;
    padding: 20px;
}
.lostextos {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.fff {
    margin-right: 45px;
    margin-left: 45px;
    inline-size:200px;
}

.text2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.textq {
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: grey;
    font-style: italic;
}

.by {
    color:black;
    font-weight: bold;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-left: 950px;
}

.sec3 {
    background-color:silver;
    padding: 20px;
}

.inside {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    margin: auto;
}

.sec4 {
    padding: 100px 20px 100px 20px;
}
.rectangle {
    display: inline-flex;
    border-radius: 25px;
    border: 0px solid black;
    padding: 50px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    margin-left: 21%;
}
.butt {
    margin-left: 650px;
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
    background-color: aquamarine;
    padding: 25px;
}

.sec5 {
    padding: 20px;
    background-color:rgba(37, 163, 136, 0.514);
    display: flex;
    justify-content: center;
}

.d00m {
    cursor: pointer;
}